<div class="not-found container">
  <p class="not-found__code">404</p>
  <h1 class="h2 not-found__title">{{ 'general.404.title' | t }}</h1>
  <p class="not-found__text text-pretty">{{ 'general.404.subtext' | t }}</p>
  <a href="{{ routes.root_url }}" class="btn btn-primary" style="margin-top:32px;">
    {%- render 'icon', icon: 'home' -%}
    {{ 'general.404.link' | t }}
  </a>
</div>

{% schema %}
{
  "name": "404",
  "settings": []
}
{% endschema %}
